<nav>
  <div class="width-wrapper">
    <div id="logo">
      <a href="/">
        <img class="site-logo" src="{{ site.logo }}" />
        <span>{{ site.name }}</span>
      </a>
    </div>
    {% assign ordered_pages = site.pages | sort: "order" | where_exp:"item","item.public == true" %}
    {% for page in ordered_pages %}
      <div data-order="{{ page.order }}"><a href="{{ page.url }}">{{ page.title }}</a></div>
    {% endfor %}
  </div>
  <div class="rule infinite"></div>
</nav>
<section>
  <div class="width-wrapper">
    <form role="search">
      <input type="search" id="search_field" name="q" autocomplete="off" placeholder="This will be the search when it works" />
      <button id="search_button">Search</button>
  </div>
</section>
