---
layout: default
---
<div class="width-wrapper">
  <div id="product">
    <section>
      <img id="product_image" src="{{ page.product_image }}" />

      <br />
      <br />
      <div id="buy_buttons">
        {% for price in page.product_prices %}
          {% assign index = price[0] %}
          <button onclick="window.location.href = '{{ page.product_links[index] }}';" data-sale="{{ page.product_sales[index] }}">
            {{ price[0] }} <span class="currency-usd">{{ price[1] }}</span>
            <div class="wave-button">
              {% include waves.html %}
            </div>
          </button>
        {% endfor %}

      </div>
    </section>
    <section id="product_description">
      <h1 class="compact">{{ page.title }}</h1>
      <p>{{ page.publisher_name }}</p>
      <br />
      <div class="rule"></div>
      <br />

      {{content}}
    </section>
  </div>
</div>
