---
layout: default
---

<div class="width-wrapper">
  <div id="product">
    <section id="product_title">
      <h1 class="compact">{{ page.title }}</h1>
      <p class="subtle" style="font-weight: bold">{{ page.publisher_name }}</p>
      <hr />
    </section>
    <section>
      <img id="product_image" src="{{ page.product_image }}" />
      <br />
      <br />
        {% for price in page.product_prices %}
          {% assign index = price[0] %}
          <button onclick="window.location.href = '{{ page.product_links[index] }}';" data-sale="{{ page.product_sales[index] }}">
            {{ price[0] }} <span class="currency-usd">{{ price[1] }}</span>
            <div class="wave-button">
              {% include waves.html %}
            </div>
          </button>
        {% endfor %}

    </section>
    <section id="product_description">
      {{content}}
    </section>
    <section>
      {% for contributor_type in page.product_contributors %}
      <p class="subtle" style="font-weight: bold">{{ contributor_type }}</p>
      <ul>
        {% for contributor in page.product_contributors[contributor_type] %}
        <li>{{ contributor }}</li>
        {% endfor %}
      </ul>
      {% endfor %}

    </section>
  </div>
</div>
